.experience {
	background-color: var(--textNormalColor);
	min-height: calc(max(40vh, 40vw));
	overflow-x: hidden;
}

.container {
	opacity: 0;
}

#visible.container {
	animation: introductionSocialNetworkFadingAnimation 0.5s ease-in-out 0.5s forwards;
}

.swiper-container-wrapper--timeline .swiper-slide {
	display: flex;
	background: var(--backgroundColor);
	min-height: 300px;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.swiper-container-wrapper--timeline .swiper-slide .container {
	padding: 0;
	width: 100%;
}

.swiper-container-wrapper--timeline .swiper-slide .title {
	font-size: 1vw;
	opacity: 0;
	transition: 0.5s ease 0.5s;
}

.swiper-container-wrapper--timeline .swiper-slide-active .title {
	opacity: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
	position: relative;
	margin-bottom: 70px;
	background-color: transparent;
	height: 4px;
	border-bottom: 1px solid #888;
	width: 75%;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar-fill {
	background-color: #000;
	height: 3px;
	top: 2px;
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar:before {
	position: absolute;
	top: 2px;
	left: -100%;
	width: 100%;
	height: 3px;
	background-color: #000;
	content: "";
}

.swiper-container-wrapper--timeline .swiper-pagination-progressbar:after {
	position: absolute;
	top: 3px;
	right: -100%;
	width: 100%;
	height: 1px;
	background-color: #888;
	content: "";
}

.swiper-container-wrapper--timeline .swiper-pagination-custom {
	position: relative;
	list-style: none;
	margin: 1rem 0;
	padding: 0;
	display: flex;
	line-height: 1.66;
	bottom: 0;
	z-index: 11;
	width: 75%;
	display: flex;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch {
	position: relative;
	width: 100%;
	height: 30px;
	line-height: 30px;
	display: block;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {
	position: absolute;
	font-weight: 400;
	right: 0;
	font-size: 1vw;
	transform: translateX(50%);
	transition: 0.2s all ease-in-out;
	transition-delay: 0s;
	cursor: pointer;
	z-index: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
	position: absolute;
	top: calc(100% + 19px);
	right: 50%;
	transform: translateX(50%) translateY(-50%);
	width: 12px;
	height: 12px;
	background: #000;
	border-radius: 2rem;
	content: "";
	transition: 0.2s all ease-in-out;
	transition-delay: 0s;
	z-index: 1;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title {
	font-weight: 400;
	transition-delay: 0.4s;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
	background: #000;
	width: 25px;
	height: 25px;
	transition-delay: 0.4s;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active~.swiper-pagination-switch .switch-title {
	color: #888;
	font-weight: 16px;
}

.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active~.swiper-pagination-switch .switch-title:after {
	background: #888;
}

.title-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.subtitle {
	justify-self: center;
	font-size: 1vw;
	color: var(--textNormalColor);
	margin: 1vw;
}

.titleExperience {
	font-size: 1vw;
	color: var(--textImportantColor);
	margin: 1vw;
}

@media (max-width: 768px) {
	.swiper-container-wrapper--timeline .swiper-slide {
		min-height: 200px;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
		margin-bottom: 40px;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-custom {
		margin: 0.5rem 0;
	}

	.titleExperience {
		font-size: 2vw;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
		width: 12px;
		height: 12px;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
		width: 7px;
		height: 7px;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {

		font-size: 1.3vw;
	}
}

@media (max-width: 576px) {
	.swiper-container-wrapper--timeline .swiper-slide {
		min-height: 150px;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-progressbar {
		margin-bottom: 30px;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-custom {
		margin: 0.25rem 0;
		line-height: 1.5;
	}

	.titleExperience {
		font-size: 2.5vw;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch.active .switch-title:after {
		width: 10px;
		height: 10px;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title:after {
		width: 6px;
		height: 6px;
	}

	.swiper-container-wrapper--timeline .swiper-pagination-custom .swiper-pagination-switch .switch-title {

		font-size: 1.3vw;
	}
	
}