/*VARIABLES*/
:root {
	--backgroundColor: #000c11;
	--shadingColor: #051216;
	--textImportantColor: #FFC857;
	--textNormalColor: #d8c686;
}

.body {
	font-family: monospace;
}

.title {
	text-align: center;
	display: inline-block;
	color: var(--textImportantColor);
	opacity: 1;
}

.title2 {
	text-align: center;
	display: inline-block;
	color: var(--backgroundColor);
	opacity: 1;
}

#visible.title {
	animation: introductionNameAnimation 1s ease-in-out 0s forwards;
}

#visible.title2 {
	animation: introductionNameAnimation2 1s ease-in-out 0s forwards;
}

/*Media*/
/*#region*/
/*Extra small devices (less than 600px) */
@media only screen and (max-width: 600px) {
	.title {
		font-size: 3vw;
		width: 30vw;
		left: 10vw;
		top: 7vh;
	}

	.title2 {
		font-size: 3vw;
		width: 30vw;
		left: 10vw;
		top: 7vh;
	}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.title {
		font-size: 3vw;
		width: 30vw;
		left: 10vw;
		top: 7vh;
	}

	.title2 {
		font-size: 3vw;
		width: 30vw;
		left: 10vw;
		top: 7vh;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and(min-width: 768px) {
	.title {
		font-size: 2vw;
		width: 30vw;
		left: 6.5vw;
		top: -1.0vh;
	}

	.title2 {
		font-size: 2vw;
		width: 30vw;
		left: 6.5vw;
		top: -1.0vh;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.title {
		font-size: 3.5vw;
		width: 30vw;
		left: 7vw;
		top: 2.2vw;
	}

	.title2 {
		font-size: 3.5vw;
		width: 30vw;
		left: 7vw;
		top: 2.2vw;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.title {
		font-size: 3vw;
		width: 30vw;
		left: 6.5vw;
		top: -1vw;
	}

	.title2 {
		font-size: 3vw;
		width: 30vw;
		left: 6.5vw;
		top: -1vw;
	}
}

/*#endregion*/