/*ANIMATIONS*/
/*#region*/
@keyframes navigationItemFadeIn {
	0% {
		opacity: 0;
		transform: translateY(-20rem);
	}

	90% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
		transform: translateY(0rem);
	}
}

@keyframes introductionImageAnimation {
	0% {
		opacity: 0;
		filter: grayscale(100%);
		/* Start with grayscale */
	}

	75% {
		filter: grayscale(90%);
		/* End with full color */
	}

	100% {
		opacity: 1;
		transform: translateY(0);
		filter: grayscale(0%);
		/* End with full color */
	}
}

@keyframes introductionNameAnimation {
	0% {
		opacity: 0;
		color: rgb(60, 63, 66);
	}

	100% {
		opacity: 1;
		color: var(--textImportantColor);
	}
}

@keyframes introductionNameAnimation2 {
	0% {
		opacity: 0;
		color: rgb(60, 63, 66);
	}

	100% {
		opacity: 1;
		color: var(--backgroundColor);
	}
}

@keyframes introductionSocialNetworkShakingAnimation {

	0%,
	100% {
		transform: translateX(0) rotate(0deg);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-5px) rotate(-5deg);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(5px) rotate(5deg);
	}
}

@keyframes introductionSocialNetworkFadingAnimation {
	0% {
		opacity: 0;
	}

	90% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}

/*#endregion*/

/* Reset some default styles for consistency */
body,
html {
	margin: 0%;
	padding: 0%;
}

.spaceDiv {
	position: relative;
	display: inline;
	width: 100%;
	pointer-events: none;
	/* Add this property to allow mouse input to pass through */
}

.verticalSpace {
	position: relative;
	display: inline;
	width: 2vw;
	pointer-events: none;
}

@media only screen and (max-width: 600px) {
	.spaceDiv {
		height: 3.1vh;
	}
}

@media only screen and (min-width: 600px) {
	.spaceDiv {
		height: 4.5vh;
	}
}

@media only screen and (min-width: 900px) {
	.spaceDiv {
		height: 5.3vw;
	}
}

@media only screen and (min-width: 1200px) {
	.spaceDiv {
		height: 4vw;
	}
}

/* Introduction Section */
/*#region*/
.introduction {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	background-color: var(--backgroundColor);
}

/*Navigation*/
/*#region*/

.navigationBarContainer {
	position: sticky;
	top: 0;
	margin-top: 0.1vh;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-start;
	justify-content: center;
}

.navigationDiv {
	position: fixed;
	top: 0%;
	/* Adjust this value to position the navigation bar vertically */
	right: 0;
	/* Adjust this value to position the navigation bar horizontally */
	width: 30%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: stretch;
	background-color: var(--backgroundColor);
	/* Set the background color */
	width: auto;
	/* Make the navigation bar occupy the whole width */
}

/*Media*/
/*#region*/
/* Styles for smaller screens (mobile) */
@media only screen and (max-width: 600px) {
	.navigationBar {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		margin-right: 1.5rem;
		align-items: stretch;
	}

	.navigationBarList {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-around;
		gap: 0.9vw;
	}

	.navigationItem a {
		text-decoration: none;
		color: var(--textNormalColor);
		font-size: 1.4vw;
		transition: 0.3s ease;
	}
}

@media only screen and (min-width: 600px) {
	.navigationBar {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		margin-right: 1.5rem;
		align-items: stretch;
	}

	.navigationBarList {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-around;
		gap: 0.9vw;
	}

	.navigationItem a {
		text-decoration: none;
		color: var(--textNormalColor);
		font-size: 1.3vw;
		transition: 0.3s ease;
	}
}

@media only screen and (min-width: 900px) {
	.navigationBar {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		margin-right: 1.5rem;
		align-items: stretch;
	}

	.navigationBarList {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-around;
		gap: 0.9vw;
	}

	.navigationItem a {
		text-decoration: none;
		color: var(--textNormalColor);
		font-size: 1.15vw;
		transition: 0.3s ease;
	}
}

@media only screen and (min-width: 1500px) {
	.navigationBar {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		margin-right: 1.5rem;
		align-items: stretch;
	}

	.navigationBarList {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-around;
		gap: 0.9vw;
	}

	.navigationItem a {
		text-decoration: none;
		color: var(--textNormalColor);
		font-size: 1.0vw;
		transition: 0.3s ease;
	}
}

/*#endregion*/

.navigationItem {
	list-style: none;
	opacity: 0;
	border-radius: 10%;
}

.navigationItem a:hover {
	color: var(--textImportantColor);
}

.navigationItem:nth-child(1) {
	animation: navigationItemFadeIn 1s ease-in-out 0s forwards;
}

.navigationItem:nth-child(2) {
	animation: navigationItemFadeIn 1s ease-in-out 0.2s forwards;
}

.navigationItem:nth-child(3) {
	animation: navigationItemFadeIn 1s ease-in-out 0.4s forwards;
}

.navigationItem:nth-child(4) {
	animation: navigationItemFadeIn 1s ease-in-out 0.6s forwards;
}

.navigationItem:nth-child(5) {
	animation: navigationItemFadeIn 1s ease-in-out 0.8s forwards;
}

.navigationItem:nth-child(6) {
	animation: navigationItemFadeIn 1s ease-in-out 1s forwards;
}

/*#endregion*/

/*IntroductionInformation*/
/*#region*/
.introductionInformationDiv {
	margin-top: 5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	width: auto;
	height: 100vh;
}

.introductionMetadataDiv {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	margin-left: 5vw;
}

.introductionImageDiv {
	display: inline;
}


#visible.introductionImage {
	animation: introductionImageAnimation 1.5s ease-in-out 0.5s forwards;
}

#visible.introductionImageTitle {
	animation: introductionNameAnimation 1s ease-in-out 0s forwards;
}

.introductionImageTitle {
	color: var(--textImportantColor);
}

/*Media*/
/*#region*/
/*Extra small devices (less than 600px) */
@media only screen and (max-width: 600px) {
	.introductionImageTitle {
		position: absolute;
		display: inline-block;
		font-size: 3vw;
		width: 30vw;
		left: 10vw;
		top: 7vh;
		opacity: 0;
	}

	.introductionImage {
		height: 40vw;
		opacity: 0;
		transform: translateX(-20rem);
		animation: introductionImageAnimation 1.5s ease-in-out 0.5s forwards;
		border-radius: 30%;
		/* Add border radius for experience level */
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.introductionImageTitle {
		position: absolute;
		display: inline-block;
		font-size: 3vw;
		width: 30vw;
		left: 10vw;
		top: 7vh;
		opacity: 0;
	}

	.introductionImage {
		height: 40vw;
		opacity: 0;
		transform: translateX(-20rem);
		border-radius: 30%;
		/* Add border radius for experience level */
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and(min-width: 768px) {
	.introductionImageTitle {
		position: absolute;
		display: inline-block;
		font-size: 2vw;
		width: 30vw;
		left: 6.5vw;
		top: -1.0vh;
		opacity: 0;
	}

	.introductionImage {
		height: 35vw;
		opacity: 0;
		transform: translateX(-20rem);
		border-radius: 40%;
		/* Add border radius for experience level */
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.introductionImageTitle {
		position: absolute;
		display: inline-block;
		font-size: 3.5vw;
		width: 30vw;
		left: 7vw;
		top: 2.2vw;
		opacity: 0;
	}

	.introductionImage {
		height: 35vw;
		opacity: 0;
		transform: translateX(-20rem);
		border-radius: 50%;
		/* Add border radius for experience level */
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.introductionImageTitle {
		position: absolute;
		display: inline-block;
		font-size: 3vw;
		width: 30vw;
		left: 6.5vw;
		top: -1vw;
		opacity: 0;

	}

	.introductionImage {
		height: 30vw;
		opacity: 0;
		transform: translateX(-20rem);
		border-radius: 50%;
		/* Add border radius for experience level */
	}
}

/*#endregion*/

/*#endregion*/

/*SocialNetworks*/
/*#region*/
#visible.socialNetworkIcon.e0 {
	animation: jackInTheBox 1s ease-in-out 0.5s forwards,
		introductionSocialNetworkFadingAnimation 1s ease-in-out 0.5s forwards;
}

#visible.socialNetworkIcon.e1 {
	animation: jackInTheBox 1s ease-in-out 1s forwards,
		introductionSocialNetworkFadingAnimation 1s ease-in-out 1s forwards;
}

#visible.socialNetworkIcon.e2 {
	animation: jackInTheBox 1s ease-in-out 1.5s forwards,
		introductionSocialNetworkFadingAnimation 1s ease-in-out 1.5s forwards
}

.socialNetworkIcon {
	opacity: 0;
	background-color: var(--textImportantColor);
	border-radius: 30%;
	display: flex;
	justify-content: center;
	/* Centers items horizontally */
	align-items: center;
	/* Centers items vertically */
}

/*Media*/
/*#region*/
/*Extra small devices (less than 600px) */
@media only screen and (max-width: 600px) {

	.introductionSocialNetworksDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch;
		width: auto;
		gap: 3vw;
	}

	.socialNetworkIcon img {
		height: 2vw;
		width: auto;
		border-radius: 50%;
		/* Add border radius for experience level */
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.introductionSocialNetworksDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch;
		width: auto;
		gap: 3vw;
	}

	.socialNetworkIcon img {
		height: 3vw;
		width: auto;
		border-radius: 50%;
		/* Add border radius for experience level */
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and(min-width: 768px) {
	.introductionSocialNetworksDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch;
		width: auto;
		gap: 3vw;
	}

	.socialNetworkIcon img {
		height: 3vw;
		width: auto;
		border-radius: 50%;
		/* Add border radius for experience level */
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.introductionSocialNetworksDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch;
		width: auto;
		gap: 3vw;
	}

	.socialNetworkIcon img {
		height: 2vw;
		width: auto;
		border-radius: 50%;
		/* Add border radius for experience level */
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.introductionSocialNetworksDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: stretch;
		width: auto;
		gap: 3vw;
	}

	.socialNetworkIcon img {
		height: 2vw;
		width: auto;
		border-radius: 50%;
		/* Add border radius for experience level */
	}
}

/*#endregion*/

/*#endregion*/

/*IntroductionPresentation*/

/*#region*/
.introductionPresentationDiv {
	display: flex;
	flex-direction: column;
	margin-left: 6vw;
	align-items: center;
	height: auto;
	width: auto;
}

.introductionHighlighted {
	color: var(--textImportantColor);
	opacity: 0;
}

.introductionPresentationText {
	display: inline;
	font-family: monospace;
	color: var(--textNormalColor);
	text-align: center;
	opacity: 0;
}

.introductionExperienceText {
	display: inline;
	font-family: monospace;
	color: var(--textNormalColor);
	text-align: center;
	opacity: 0;
}

.introductionCareerTitle {
	display: inline;
	font-family: monospace;
	color: var(--textImportantColor);
	opacity: 0;
}

#visible.introductionHighlighted {
	animation: introductionSocialNetworkFadingAnimation 1s ease-in-out 1s forwards,
		pulse 1s ease-in-out 1s forwards;
}

#visible.introductionCareerTitle {
	animation: introductionSocialNetworkFadingAnimation 1s ease-in-out 1s forwards,
		pulse 1s ease-in-out 1s forwards;
}

#visible.introductionPresentationText {
	animation: introductionSocialNetworkFadingAnimation 1s ease-in-out 1s forwards,
		pulse 1s ease-in-out 1s forwards;
}

#visible.introductionExperienceText {
	animation: introductionSocialNetworkFadingAnimation 1s ease-in-out 1s forwards,
		pulse 1s ease-in-out 1s forwards;
}

.introductionHighlighted {
	color: var(--textImportantColor);
}

/*Media*/
/*#region*/
/* Extra small devices (less than 600px) */
@media only screen and (max-width: 600px) {
	.introductionCareerTitle {
		font-size: 0.85vw;
	}

	.introductionPresentationText {
		font-size: 1.5vw;
		width: 20vh;
		height: auto;
	}

	.introductionExperienceText {
		font-size: 0.75vw;
		width: 10vh;
		height: auto;
	}

	.introductionHighlighted {
		font-size: 1.1vw;
		width: 10vh;
		height: auto;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.introductionCareerTitle {
		font-size: 1.5vw;
	}

	.introductionPresentationText {
		font-size: 2vw;
		width: 40vw;
		height: auto;
	}

	.introductionExperienceText {
		font-size: 1.5vw;
		width: 30vw;
		height: auto;
	}

	.introductionHighlighted {
		font-size: 2.1vw;
		width: 30vw;
		height: auto;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.introductionCareerTitle {
		font-size: 1.5vw;
	}

	.introductionPresentationText {
		font-size: 2vw;
		width: 40vw;
		height: auto;
	}

	.introductionExperienceText {
		font-size: 1.5vw;
		width: 30vw;
		height: auto;
	}

	.introductionHighlighted {
		font-size: 2.1vw;
		width: 30vw;
		height: auto;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.introductionCareerTitle {
		font-size: 2vw;
	}

	.introductionPresentationText {
		font-size: 2.2vw;
		width: 50vw;
		height: auto;
	}

	.introductionExperienceText {
		font-size: 1.2vw;
		width: 25vw;
		height: auto;
	}

	.introductionHighlighted {
		font-size: 1.2vw;
		width: 25vw;
		height: auto;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.introductionCareerTitle {
		font-size: 2vw;
	}

	.introductionPresentationText {
		font-size: 2.2vw;
		width: 50vw;
		height: auto;
	}

	.introductionExperienceText {
		font-size: 1.2vw;
		width: 25vw;
		height: auto;
	}

	.introductionHighlighted {
		font-size: 1.2vw;
		width: 25vw;
		height: auto;
	}
}

/*#endregion*/

/*#endregion*/


/*#endregion*/