/* Center the content in the skills section */
.skills {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: auto;
	height: auto;
	background-color: var(--backgroundColor);
}

.skillItemBar {
	background-color: var(--shadingColor);
	position: relative;
	overflow: hidden;
	opacity: 0;
}

/* Animation for the skill fill bar */
.skillItemFill60 {
	background-color: var(--textImportantColor);
	height: 100%;
	width: 0%;
	color: var(--backgroundColor);
	font-weight: bold;
	text-align: center;
	opacity: 0;
}

#visible.skillItemFill60 {
	animation: introductionSocialNetworkFadingAnimation 0.5s ease-in-out 0.5s forwards,
		fillAnimation60 1s ease-in-out forwards 2s;
}

.skillItemFill70 {
	background-color: var(--textImportantColor);
	height: 100%;
	width: 0%;
	color: var(--backgroundColor);
	font-weight: bold;
	text-align: center;
	opacity: 0;
}

#visible.skillItemFill70 {
	animation: introductionSocialNetworkFadingAnimation 0.5s ease-in-out 0.5s forwards,
		fillAnimation70 1s ease-in-out forwards 2s;
}

.skillItemFill80 {
	background-color: var(--textImportantColor);
	height: 100%;
	width: 0%;
	color: var(--backgroundColor);
	font-weight: bold;
	text-align: center;
	opacity: 0;
}

#visible.skillItemFill80 {
	animation: introductionSocialNetworkFadingAnimation 0.5s ease-in-out 0.5s forwards,
		fillAnimation80 1s ease-in-out forwards 2s;
}

.skillItemFill90 {
	background-color: var(--textImportantColor);
	height: 100%;
	width: 0%;
	color: var(--backgroundColor);
	font-weight: bold;
	text-align: center;
	opacity: 0;
}

#visible.skillItemFill90 {
	animation: introductionSocialNetworkFadingAnimation 0.5s ease-in-out 0.5s forwards,
		fillAnimation90 1s ease-in-out forwards 2s;
}

.skillItemFill100 {
	background-color: var(--textImportantColor);
	height: 100%;
	width: 0%;
	color: var(--backgroundColor);
	font-weight: bold;
	text-align: center;
	opacity: 0;
}

#visible.skillItemFill100 {
	animation: introductionSocialNetworkFadingAnimation 0.5s ease-in-out 0.5s forwards,
		fillAnimation100 1s ease-in-out forwards 2s;
}

#visible.skillItemBar {
	animation: introductionSocialNetworkFadingAnimation 0.5s ease-in-out 0.5s forwards;
}

/* Each skill list will act as a table in groups of 2 */
.skillsList {
	display: flex;
	flex-direction: row;
	justify-content: start;
	flex-wrap: wrap;
	list-style: none;
	width: 80%;
	gap: 15%;
}

.skillItem {
	width: 40%;
	/* Each skill item will take 50% of the available width (2 columns) */
	box-sizing: border-box;
	margin-bottom: 1vh;
}

/* Style for skillsSubtitle */
.skillsSubtitle {
	color: var(--textNormalColor);
	font-weight: bold;
	text-transform: uppercase;
	opacity: 0;
}

/* Style for skillItemTitle */
.skillItemTitle {
	color: var(--textNormalColor);
	font-weight: bold;
	opacity: 0;
}

#visible.skillItemTitle {
	animation: introductionSocialNetworkFadingAnimation 1s ease-in-out 1s forwards,
		pulse 1s ease-in-out 1s forwards;
}

#visible.skillsSubtitle {
	animation: introductionSocialNetworkFadingAnimation 1s ease-in-out 1s forwards,
		pulse 1s ease-in-out 1s forwards;
}


/* Media Queries */
/*#region*/
/* Extra small devices (less than 600px) */
@media only screen and (max-width: 600px) {
	.skillsSubtitle {
		font-size: 5vw;
		/* Set font size to 5% of viewport width */
		margin-bottom: 2vh;
		/* Set margin bottom to 2% of viewport height */
	}

	.skillItemTitle {
		font-size: 4vw;
		/* Set font size to 4% of viewport width */
		margin-bottom: 1vh;
		/* Set margin bottom to 1% of viewport height */
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.skillsSubtitle {
		font-size: 4vw;
		/* Set font size to 4% of viewport width */
		margin-bottom: 4vh;
		/* Set margin bottom to 2% of viewport height */
	}

	.skillItemTitle {
		font-size: 3.5vw;
		/* Set font size to 3.5% of viewport width */
		margin-bottom: 3vh;
		/* Set margin bottom to 1.5% of viewport height */
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.skillsSubtitle {
		font-size: 3vw;
		/* Set font size to 3% of viewport width */
		margin-bottom: 4vh;
		/* Set margin bottom to 2% of viewport height */
	}

	.skillItemTitle {
		font-size: 2.5vw;
		/* Set font size to 2.5% of viewport width */
		margin-bottom: 2vh;
		/* Set margin bottom to 1% of viewport height */
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.skillsSubtitle {
		font-size: 2.5vw;
		/* Set font size to 2.5% of viewport width */
		margin-bottom: 3vh;
		/* Set margin bottom to 1.5% of viewport height */
	}

	.skillItemTitle {
		font-size: 2vw;
		/* Set font size to 2% of viewport width */
		margin-bottom: 2vh;
		/* Set margin bottom to 1% of viewport height */
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.skillsSubtitle {
		font-size: 2vw;
		/* Set font size to 2% of viewport width */
		margin-bottom: 3vh;
		/* Set margin bottom to 1.5% of viewport height */
	}

	.skillItemTitle {
		font-size: 1.8vw;
		/* Set font size to 1.8% of viewport width */
		margin-bottom: 2vh;
		/* Set margin bottom to 1% of viewport height */
	}
}

/*#endregion*/


/*ANIMATIONS*/
/*#region*/
/* Keyframes for the fill animation */
@keyframes fillAnimation60 {
	from {
		width: 0;
	}

	to {
		width: 60%;
	}
}

@keyframes fillAnimation70 {
	from {
		width: 0;
	}

	to {
		width: 70%;
	}
}

@keyframes fillAnimation80 {
	from {
		width: 0;
	}

	to {
		width: 80%;
	}
}

@keyframes fillAnimation90 {
	from {
		width: 0;
	}

	to {
		width: 90%;
	}
}

@keyframes fillAnimation100 {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

/*#endregion*/